::selection {
    background: #00d2ff;
}

html {
    line-height: 1.15;
    letter-spacing: -.3px;
}


body {
    font-size: 16px;
    word-break: keep-all;
    font-family: Spoqa Han Sans,sans-serif;
}

body:before {
    position: fixed;
    z-index: 1;
    top: 0;
    display: block;
    content: "";
    width: 100%;
    height: 10px;
    background: #00d2ff;
    background: -webkit-gradient(linear,left top,right top,from(#3a7bd5),to(#00d2ff));
    background: linear-gradient(90deg,#3a7bd5,#00d2ff);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


h2 {
    font-size: 2.7rem;
    margin: 4rem 0 2rem;
    margin-top: 6rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3, h4 {
    font-size: 2rem;
    margin: 0 0 1rem;
}

h5 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

p {
    margin: 0 0 1rem;
    font-size: 1.1rem;
    line-height: 1.4;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem;
    font-size: 1.1rem;
}

ul>li {
    position: relative;
    padding: .4rem 0 .2rem 1rem;
}

ul>li:before {
    position: absolute;
    left: 0;
    display: inline-block;
    content: "•";
    color: #3a7bd5;
}


section {
    /* padding: 0 2rem; */
    padding-top: 0 2rem;
    padding-bottom: 0 2rem;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 0;
    border-bottom: 1px solid #eee;
}

.row-right {
    margin-left: 4rem;
    /* margin-right: 5rem; */
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.row-left {
    margin-right: 0rem;
    flex-basis: 13rem;

}

.role {
    display: block;
}

.time {
    display: block;
    margin-bottom: 1.5rem;
}

.other {
    padding: 3rem 0;
    border-bottom: 1px solid #eee;
}

.bold {
    font-weight: bold ;
    display: inline;
}


.inner-button {
    font-family: Spoqa Han Sans,sans-serif;
    font-size: 14px;
    border: 1px solid rgb(158, 158, 158);
    color: black;
    padding: 3px 6px 2px;
    display: inline-block;
    border-radius: 7px;
    margin-left: 2px;
    margin-top: -3px;
    vertical-align: middle;
    letter-spacing: 0.5px;
    word-break: normal;
}